body{
    padding: 0;
    margin: 0;
   
}
header{
    width:100%;
    height: 84px;
    background-image: url(../images/navred.png);
    background-repeat: no-repeat;
    background-size:100% 100%;   
    border-bottom:1px solid white;
}
.logo{
    width: 20%;
    float:left;
 }

nav{
    width:80%;  
    height: 80px;
    float: left;
  
}
.nav-box{
    padding-top:15px;
    margin-left:200px;
}
ul{
    padding:0;
    margin: 0;
    list-style-type: none;
   
}
ul li{
    display: inline-block;
    padding: 8px 16px;
    margin:5px;
    font-size: 20px;

    border: 1px solid white;
}
ul li:hover{
    background-color: white;
}
ul li a{
    color:white;
    text-decoration: none;
    font-family: sans-serif;
}
ul li a:hover{
    background-color:white;
    color: rgb(235, 19, 3);
}
.active{
    background-color: rgba(138, 18, 18, 0.801);
}
main{
    width: 100%;
    height:600px;
}
.bg-slide-1{
    width:100%;
    height:600px;
    background-image: url(../images/slide-1-mp.jpg);
    background-repeat: no-repeat;
    background-size:100% 80%;
}
.bg-slide-2{
    width:100%;
    height:600px;
    background-image: url(../images/s2.jpg);
    background-repeat: no-repeat;
    background-size:100% 80%;
}
.bg-slide-3{
    width:100%;
    height:600px;
    background-image: url(../images/s5.jpg);
    background-repeat: no-repeat;
    background-size:100% 80%;
}
.carousel{
    width: 100%;
    height:600px;
}

.bg-slide-1-text{
    padding-left:170px;
    padding-top:70px;
}
.bg-slide-1-text h1,p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
.bg-slide-1-text h1{
    font-size: 45px;
}
.bg-slide-1-text p{
    font-size: 20px;
}
.slide-btn{
    width:166px;
    display: inline-block;
    padding:10px 0;
    border: 3px solid white;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;

    color: white;
}  
.slide-btn:hover{
    background-color: rgb(160, 13, 13);
}
.slide-icon-pt{
    padding-top:50px;
}
.icon-size{
    font-size: 30px;

}
.bg-slide2-text{
    padding-left:349px;
    padding-top: 229px;
}
.bg-slide3-text{
    padding-left:932px;
    padding-top: 284px;
}
.about{
    width: 100%;
    height: auto;
    margin-top:40px;
}
.about-container{
    width: 80%;
    padding-left: 170px;
}

.ab-row-1{
    width:40%;
    float: left;
}
.ab-row-1 img{
    width:300px;
    height:350px;
}
.ab-row-2{
    width: 50%;
    float: left;
}
.ab-text-box{
    padding: 0;
    margin: 0;  
    text-align: right;
}
.ab-text-box h3{
    font-weight: bold;
    font-size: 30px;
    color: #888687;
    line-height: 10px;
    padding-bottom: 4px;
    display: block;
}
.ab-text-box p{
    line-height:1.80857;
    font-size: 17px;
    color: #23242a;
}
.ab-text-box span{
    font-weight: bold;
    font-size: 50px;
    line-height: 58px;
    color: #23242a;
    padding-bottom: 10px;
    display: block;
}