<div class="header">
  <div class="hmt1"></div>
  <div class="logo" title="facebook">facebook</div>
  <div class="search">
      <input type="search" placeholder="search name" class="pm">
  </div>
  <div class="icon">
     <ul>
         <li><a href="#">Profile</a></li>
         <li><a href="#">Home</a></li>
         <li><a href="#"><i class="fa fa-users" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
         <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
         <li><a href="#">Log in</a></li>
     </ul> 
  </div>
  
</div>