<div class="header-nav">
  <div class="head-nav1">
      <div class="fb-logo">
        <a href="/"><img src="/images/fblogo.png" alt="logo" width="40px" height="40px"></a>
      </div>
      <div class="header-search">
        <div class="header-radius">
            <div class="search-icon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div  class="search-input">
              <input type="search"  placeholder="Search Facebook">
            </div>
        </div>
    </div>
  </div>
  <div class="head-nav2">
    nav-create-box
  </div>
  <div class="head-nav3">
    <div class="right-menu">
      <div class="nav-img">
        <img src="/images/pp.jpeg" alt="img" width="30px" height="30px">
      </div>
      <nav class="nav-icons">
          <ul>
            <span class="icon-bg">
            <li><a href="#">+</a></li>
            </span>
            <span class="icon-bg">
            <li><a href="#"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></a></li>
            </span>
            <span class="icon-bg">
            <li><a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
            </span>
            <span class="icon-bg">
            <li><a href="#"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></li>
            </span>
          </ul>
      </nav>
    </div>
  </div>
</div>