<div class="header-nav">
  <div class="head-nav1">
      <div class="fb-logo" title="facebook">
        <a href="/"><img src="/images/fblogo.png" alt="logo" width="40px" height="40px"></a>
      </div>
      <div class="header-search">
        <div class="header-radius">
            <div class="search-icon">
              <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <div  class="search-input">
              <input type="search"  placeholder="Search Facebook">
            </div>
        </div>
    </div>
  </div>  
  <div class="head-nav2">
    <nav class="nav-center-ic">
      <div class="nav-c-icon1 nav-center-flex">
        <a href="/"><img src="/images/nav-center-ic1.svg" alt="icon" width="27px" height="30px" title="Home"></a>
      </div>
      <div class="nav-c-icon2 nav-center-flex">
        <a href="#"><img src="/images/ic2.svg" alt="icon" width="27px" height="30px" title="Watch video"></a>
      </div>
      <div class="nav-c-icon3 nav-center-flex">
        <a href="#"><img src="/images/i3.svg" alt="icon" width="27px" height="30px" title="Marketplace"></a>
      </div>
      <div class="nav-c-icon4 nav-center-flex">
        <a href="#"><img src="/images/nav-center-4.svg" alt="icon" width="27px" height="30px" title="Friends"></a>
      </div>
    </nav>
  </div>
  <div class="head-nav3">
    <div class="right-menu">
      <div class="nav-img" title="Profile">
        <a href="/about">
        <img src="/images/prlimg.jpg" alt="img" width="30px" height="30px">
        <span class="nav-img-text">
          Tajul
        </span>
        </a>
      </div>
      <nav class="nav-icons">
          <ul>
            <span class="icon-bg">
            <li><a href="#" id="icon-padleft" title="Create">+</a></li>
            </span>
            <span class="icon-bg">
            <li><a href="#" title="Messenger"><i class="fa fa-envelope-open" aria-hidden="true"></i></a></li>
            </span>
            <span class="icon-bg">
            <li><a href="#" title="Notifications"><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
            </span>
            <span class="icon-bg">
            <li><a href="#" title="Accounts"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></li>
            </span>
          </ul>
      </nav>
    </div>
  </div>
</div>